@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
    font-family: Open Sans;
    margin: 0px;
}
#formulario{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 120px;
    background-color: rgb(182, 141, 79);
    padding: 20px;
    border-radius: 5px;
}
#formulario span{
    display: block;
    text-align: center;
    width: 100%;
    padding: 5px;
    background-color: bisque;
}
#formulario input[type="radio"]{
    display: inline-block;
}
#formulario label{
    display: inline-block;
}
#button{
    align-self: center;
}
nav{
    display: flex;
    height: 80px;
    background-color: coral;
    align-items: center;
    justify-content: space-between;
}

nav span{
    display: inline-block;
    margin-left: 10px;
    background-color: cornsilk;
    border-radius: 5px;
    padding: 5px;
}
nav ul{
    list-style: none;
    margin-right: 30px; 
}
li{
    display: inline-block;
    padding: 8px;
    margin-right: 10px;
    background-color: darkgrey;
}
#saida{
    display: block;
    margin: 10px;

}
#center-box{
    display: flex;
    justify-content: space-between;
    margin: 170px 40px;
}
.formulario{
    display: inline-flex;
    background-color: rgb(182, 141, 79);
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
}
.div-content{
    margin: 15px;
}
.title{
    display: block;
    background-color: cornsilk;
    padding: 5px;
    margin-bottom: 15px;
}