@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
       font-family: Open Sans;
       display: flex;
}
section{
       margin: auto;
       width: fit-content;
}
h1{
       line-height: 5px;
}
#one{
       width: fit-content;
       background-color: burlywood;
       padding: 10px;
       border-radius: 5px;
}
input[type='button']{
       background-color: white;
       transition: 0.8s;
       height: 20px;
       border: 1px solid black;
       cursor: pointer;
}
input[type='button']:hover{
       background-color: rgba(0, 128, 0, 0.37);
}
input[type='text']{
       height: 20px;
       border: 2px solid black;
       transition: 1s;
       outline: none;
}
input[type='text']:hover{
       border-color: lightgrey;
}
#busca{
       background-color: darkgrey;
       width: fit-content;
       border-radius: 6px;
       padding: 20px;
}
#title-2{
       display: block;
       text-align: center;
       margin-bottom: 10px;
}
#output{
       font-size: 12px;
       text-align: left;
}
#saida{
       padding: 10px;
}