body{
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#item-list{
       display: inline-block;
       background-color: darkgrey;
       border-radius: 5px;
       font-weight: 700;
       width: fit-content;
       padding: 12px;
}
#list{
       display: inline-block;
       visibility: hidden;
       position: absolute;
       opacity: 0;
       left: 80px;
       width: 50px;
       background-color: black;
       color: #fff;
       text-align: center;
       border-radius: 6px;
       padding: 5px 0;
       transition: 1.4s;
}
#item-list:hover #list{
       display: inline-block;
       visibility: visible;
       transition: 1.4s;
       width: 120px;
       opacity: 100;
}
.button-1{
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       margin-top: 20px;
       border: 1px solid black;
       background-color: darkgrey;
       display: block;
       margin: auto;
       width: fit-content;
       animation-fill-mode: both;
       
}
.button-1:hover{
       animation-name: gira;
       animation-fill-mode: both;
       animation-iteration-count: 2;
       animation-direction: alternate;
       animation-duration: 2s;
}
@keyframes gira {
       0% {transform: rotateZ(0deg);}
       100% {transform: rotateZ(360deg);}
}