/* Flex Container */





body {
	font-family: monospace;
	color: #333;
	margin: 0px;
}
nav li{
	color:black;
	list-style: none;
	font-weight: 900;
	display: inline-block;
	border-radius: 5%;
	background-color: floralwhite;
	padding: 8px;
	margin-left: 14px;
}
nav ul{
	margin-right: 70px;
}
nav{
	display: flex;
	align-items: center;
	background-color: black;
	height: 80px;
	justify-content: space-between;
}
.box-initial{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	display: inline-flex;
	background-color: rgba(94, 94, 94, 0.336);
	-webkit-box-shadow: -12px -8px 12px -6px rgba(0, 0, 0, 0.603); 
	box-shadow: -12px -8px 12px -6px rgba(0, 0, 0, 0.569);
}
.box-initial img{
	display: inline-block;	
	padding: 20px;
	width: 240px;
	border-radius: 50%;
	height: 240px;
}
.box-initial section{
	max-width: 650px;
	margin: 50px 30px;
}

.title-1{
	font-size: 22px;
	text-shadow: -2px -1px 9px rgba(255,243,243,0.44);
	margin-left: 20px;
	border-radius: 8%;
	font-weight: 700;
	padding: 12px;
	color:whitesmoke;
}	
.box{
	height: fit-content;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 20px;
	border: 2px solid black;
	text-align: justify;
	margin:50px;
	border-radius: 5px;
}
.box h1{
	margin-bottom: 5px;
	
}
.n1{

	width: 600px;
}
.boxes{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#initial{
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
li:hover{
	transition: 0.5s;
	background-color: wheat;
}
a{
	text-decoration: none;
	color:black;
}